<div id="modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form id="add-post-form">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Post</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" class="text-box" />
    </div>
    <label for="post-content">Text</label>
    <textarea name="post-content" class="text-box"></textarea>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button id="close" class="button">Cancel</button>
      </footer>
      </form>
  </div>
</div>

<button id="add-post-btn" class="button is-primary">+ Post</button>
<script src="/javascript/add-post.js"></script>
