<div id="imgModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form id="add-img-form">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Post</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <label for="file">Image</label>
        <div class="file has-name is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="image" id="input-files" action="/upload" method="POST"
              enctype="multipart/form-data">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
          <div id="preview-images"></div>
        </div>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button id="close" class="button">Cancel</button>
      </footer>
    </form>
  </div>
</div>

<button id="add-img-btn" class="button is-primary">+ Image</button>
<script src="/javascript/add-image.js"></script>