<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pawfect Friends</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://kit.fontawesome.com/083b13e5ba.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <div class="wrapper">

      <header>
        {{!-- <div class="logo">
          <img
            src="/images/Pawfect-long.png"
            class="top-img"
            alt="Pawfect logo"
          />
        </div> --}}
      </header>

      <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="/images/Pawfect-long.png" width="140" height="35">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Profile
      </a>

      <a class="navbar-item">
        Friends
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item"
            <a href="https://github.com/Mayfieldmel/Pawfect-Friends" target="_blank">GitHub</a>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" 
            <a href="mailto:support@pawfectpets.com">Report an issue</a> 
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light"
            {{#if loggedIn}}
                <button id="logout" class="btn-no-style">logout</button>
              {{else}}
                <a href="/login">login</a>
              {{/if}}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>




      <main>
      {{{ body }}}
      </main>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Thanks for visiting!</strong> </br> <strong>Pawfect Friends, </strong> The only social network for pets. </br> Designed by Melissa, Morgan, Rodolfo & Brian, 2022 </a> <p> <a href="https://github.com/Mayfieldmel/Pawfect-Friends" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i></a></p> 
    </p>
  </div>
</footer>

    </div>
  </body>

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}

</html>