{{!-- create new post form --}}
<section class="item">
  <div class="title form">
    <h2>Create New Post</h2>
  </div>
  <form id="add-post-form" class="content">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" class="text-box" />
    </div>
    <label for="post-text">Text</label>
    <textarea name="post-text" class="text-box"></textarea>
    <button type="submit" class="btn long">Create</button>
  </form>
</section>
{{> add-image}}
<script src="/javascript/add-post.js"></script>
