{{!-- create new post form --}}
<section class="section-margins">
  <div class="title">
    <h2>Create New Post</h2>
  </div>
  {{> add-image}}
  <form id="add-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" class="input is-normal" />
    </div>
    <label for="post-text">Text</label>
    <textarea name="post-text" class="textarea"></textarea>
   
    <button type="submit" class="button is-primary">Create</button>
    <a href='/profile'>
      <button type="button" class="button is-primary" id="cancel-btn">Cancel</button>
    </a>
  </form>
  <br>
 
   
</section>

<script src="/javascript/add-post.js"></script>
