{{!-- create new post form --}}
<section class="section-margins">
  <div class="title form">
    <h2>Create New Post</h2>
  </div>
  <form id="add-post-form" class="content">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" class="input is-normal" />
    </div>
    <label for="post-text">Text</label>
    <textarea name="post-text" class="textarea"></textarea>
   </br>
    <button type="submit" class="button is-primary">Create</button>
  </form>
   {{> add-image}}
</section>

<script src="/javascript/add-post.js"></script>
