{{!-- create new post form --}}
<section class="section-margins">
  <br/>
  <div class="title">
    <h2> ➕ Create New Post</h2>
  </div>
  <div class="box">
  {{> add-image}}
  <br/>
  <br/>
  <form id="add-post-form">
    <label for="post-text">Text</label>
    <textarea name="post-text" class="textarea"></textarea>
   </br>
    <button type="submit" class="button is-primary">Create</button>
    <a href='/profile'>
      <button type="button" class="button is-primary">Cancel</button>
    </a>
  </form>
</div>
<br/>
</section>

<script src="/javascript/add-post.js"></script>
