<article>
    <div>
      <h2>Profile Information</h2>
        <ol>
            <li>Pet Name: {{pet.pet_name}} </li>
            <li>Email: {{pet.email}}</li>
            <li>Password: *******</li>
        </ol>
    </div>
  </article>