{{> add-post}}
<div>
  <div>
    </br>
    <img class="placeholder is-justify-content-centered" src="/images/under-construction-dog.jpeg"
      alt="Under Contruction Dog">
    </br>
    </br>
    <p class="is-size-6 px-5 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat
      pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi
      maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
    </br>
    </br>
    </br>
    </p>
  </div>
</div>