<ul>
  {{!-- display list of user posts --}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ul>
<div class="modals has-text-centered">
{{!-- {{>add-image}} --}}
<a href="/profile/add-post">
    <button class="button is-primary">+ post</button>
</a>
</div>
</br></br>

