<section class="section-margins">
  <br/>

  <div class="box">
      <div class="title">
    <h2> 📸 Select Profile Image</h2>
  </div>
  <form id="profile-img-form">
  <div class="file is-boxed">
  <label class="file-label">
    <input class="file-input" type="file" id="img-files">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
        max size: 68KB
      </span>
    </span>
  </label>
</div>
    <div id="preview-images"></div>
    <br/>
    <button type="submit" class="button is-primary">Create</button>
    <a href='/profile'>
      <button type="button" class="button is-primary">Cancel</button>
    </a>
  </form>
</div>
<br/>
</section>

<script src="/javascript/profile-image.js"></script>