<ul>
  {{!-- display list of user posts --}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ul>
<div class="modals has-text-centered">
{{!-- {{>add-image}} --}}
<button class="is-primary">+ post</button>
</div>
</br></br>
<script src="/javascript/profile.js"
