<div class="container">
    <h1 class="title">{{pets.pet_name}}</h1>
    <a href="/img" class="is-justify-content-center">
    {{#if pets.profile_pic.length}}
        <figure class="image is-128x128">
            <img class="is-rounded" src={{pets.profile_pic}}>
        </figure>
    {{else}}
        <figure class="image is-128x128">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
    {{/if}}
    </a>
    </br>
    <div class="buttons">
        <a href="/profile/update">
            <button class="button is-primary margin-right">edit profile</button>
        </a>
        {{!-- {{>add-image}} --}}
        <a href="/profile/add-post">
            <button class="button is-primary">+ post</button>
        </a>
    </div>
</div>

<br/>
<div class="container">
<ul>
  {{!-- display list of user posts --}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ul>
</div>
</br></br>
<script src="/javascript/profile.js"></script>
