<form id="sign-up">
<div class="column is-half is-offset-one-quarter">
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="petname" placeholder="Pet's Name?" id="petname-signup"/>
    <span class="icon is-small is-left">
      <i class="fa-solid fa-user"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email" id="email-signup"/>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password (minimum of 4 characters)" id="password-signup">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-info signup-form">
      Sign up
    </button>
  </p>
</div>
</div>
</form>
<script src="/javascript/signup.js"></script>