{{!-- import post-info --}}
<div class="box margin-bottom">
    <a href="/img/{{image.id}}" class="post-info-links">
        <img src={{image.image}} />
    </a>
    <nav id="delete-image" class="level is-mobile right-btn">
            <div class="level-left">
            <button class="button is-danger">Delete</button>
            </div>
        </nav>
</div>

<form class="image-comment-form column box is-10 is-offset-1">
  <div>
    <textarea class="input textarea" name="comment-body" rows="3" placeholder="Type a comment here"></textarea>
  </div>
  <br>
{{#if loggedIn}}
  <div>
    <button class="button is-success" type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{> image-comments image.imagecomments}}

{{#if loggedIn}}
<script src="/javascript/image-comment.js"></script>
<script src="/javascript/delete-image.js"></script>
{{/if}}

