
<div class="card">
  <div class="card-content">
    <div class="content">

<form id="newProfileUpdates">
<label class="label">Profile Picture</label>
<figure class="image is-128x128">
  <img src="/images/paw-print.png">
</figure>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-primary">Update Profile Picture</button>
  </div>
</div>

</br>
  <div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" id="newEmail" type="email" placeholder="New Email" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
    </span>
  </div>
</div>

<div class="field">
  <label class="label">New Password</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" id="newPassword" type="password" placeholder="New Password" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
    </span>
  </div>
</div>


<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" type="submit">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>

</br></br></br>

<div class="control">
    <button class="button is-link is-danger">Delete Profile</button>
  </div>
  </form>
   </div>
   </div>

{{#if loggedIn}}
<script src="/javascript/update-profile.js"></script>
{{/if}}