.hide {
  display: none;
}

.section-margins {
  margin: 20px;
}

.margin-right {
  margin-right: 10px;
}

.post-info-links {
  color: black;
}

.margin-bottom {
  margin-bottom: 10px;
}

.bone:hover .fa-bone,
.bone .fa-paw {
    display: none;
}
.bone:hover .fa-paw {
    display: inline;
}